<div class="container">
<div class="jumbotron">
  <h1>Welcome</h1>
  <p><%= @user.name %>: tu sesi칩n est치 activa</p>
</div>
<form action="/user/out" method="post">
 <button id="btn_out" type="submit" class="btn btn-warning">Cerrar sesion</button> 
</form>
<br>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Modificar</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modificar informaci칩n</h4>
        </div>
        <div class="modal-body">
          <form id='frm_mod' class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="name" name='name'>
              </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name='email'>
              </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Contrase침a:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name='password'>
              </div>
          </div>
        </div>
        </form>
        <div class="modal-footer">
          <button id='btn_mod' for='frm_mod 'type="submit" class="btn btn-success" data-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

</div>