<!-- ==============================BARRA DE NAVEGACION===================== -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="barranav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">La Juanis</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="activelink"><a href="/">Inicio</a></li>
      <li><a href="/galeria">Galeria</a></li>
      <li><a href="/pedidos">Pedidos</a></li>
      <li><a href="/historia">Contactanos</a></li>
    </ul>
  </div>
</nav>
<!-- ==============================BARRA DE NAVEGACION===================== -->
<div class="izquierda">
  <h3>¿Quienes Somos?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.</p>
</div>
<div class="derecha">
  <img src="https://codealab.files.wordpress.com/2015/06/image_4.jpg">
</div>
<!-- ====================================================================== -->
<div class="derecha">
  <h3>Nuestros Ingredientes</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.</p>
</div>
<div class="izquierda">
<img src="https://codealab.files.wordpress.com/2015/06/image_2.jpg">
</div>
